nav{
    background-color: black;
    font-family: 'New Tegomin', serif;
    text-align: center;
    word-spacing: 50px;
}

img{
    width: 10%;
    height: 10%;
    position: fixed;
    bottom: 5%;
    right: 0%;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}
